/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
composer.lock
composer.json
.env
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
config/
